@model IEnumerable<LandlordServiceModel>

@{
	ViewData["Title"] = "All Landlords";
}

<h3 class="mb-3">@ViewData["Title"]</h3>
<div class="row">
	<div class="table-responsive">
		<table class="table table-hover table-striped table-dark">
			<thead>
			<tr class="table-primary">
				<th scope="col">Email</th>
				<th scope="col">Phone Number</th>
				<th scope="col">Fullname</th>
				<th scope="col">Number of added rooms</th>
			</tr>
			</thead>
			<tbody>
			@foreach (var landlord in Model)
			{
				<tr>
					    <th scope="row">@landlord.User.Email</th>
						<td>@landlord.PhoneNumber</td>
						<td>@landlord.FirstName @landlord.LastName</td>
						<td>@landlord.RoomsToRent.Count()</td>
				</tr>
			}
			</tbody>
		</table>
	</div>
</div>