@model AllRoomsViewModel

@{
	ViewBag.Title = "My Rented Room";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

	<div class="text-center row">
			<div class="card col-5">
				<img class="card-img-top"  src="@Model.ImageUrl" alt="Room image">
				<div class="card-body">

				<h5 class="card-title mt-1">@Model.Description</h5>
				<p class="mb-0">Address: @Model.Address</p>
				<b>@String.Format("{0:f2}", @Model.PricePerWeek) EUR</b>
					<p class="mb-0">
						Rating: (@if (Model.Ratings.RatingDigit > 0)
						         {
							         @Model.Ratings.RatingDigit
						         }
						         else
						         {
							         <b>Not rated yet</b>
						         })
					</p>
				<p>Size: @Model.Categories.RoomSize</p>
				<p>L.s.: @Model.Categories.LandlordStatus</p>
				<p>Town: @Model.Town</p>
				</div>
				<form asp-area="" asp-controller="Room" asp-action="Leave"
				      asp-route-id="@Model.Id" method="post">
					<input class="btn btn-primary" type="submit" value="Leave" />
				</form>

			</div>
	</div>

	